		<div class="container">
			<div class="row">
				<div class="col-md-12 text-right">
		   		 	<a href="http://jnote.itbiu.com"><small> Power by JNote</small></a>&nbsp;&nbsp;
		   		 	<small><a href="https://github.com/pianzinan/JNote	">View on Github</a> </small>
				</div>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    	<script type="text/javascript" charset="utf-8" src="${ctx}/js/highlight.pack.js"></script>
		<script type="text/javascript">
			$(function() {
			});
		</script>