<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<%include("/WEB-INF/views/include_head_tag.html"){}%>
	</head>
	
	<body>
		
		<%include("/WEB-INF/views/include_nav.html"){}%>
		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				
					<%
						for(article in page.list)
						{
					%>
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<h4>
						  	<a href="${ctx}/article/${article.id}">
							    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> ${article.title}
						  	</a>
					  	</h4>
					  	<h6>${article.post_time}</h6>
					  	<p id='content'>
					  		<%
					  			if(article.content_type == 1)
					  			{//markdown
					  				
					  				print(@org.fuyou.jnote.util.StringUtils.markdown2HTML(article.content));
					  				
					  			}else
					  			{
					  				print(article.content);
					  			}
					  		
					  		%>
					  	</p>
					  </div>
					</div>
					<%
						}
					%>
				</div>
			</div>
			
			<%include("/WEB-INF/views/include_page.html",{pageUrl:ctx+'/category/'+categoryId+'-{0}'}){}%>
		</div>
		<%include("/WEB-INF/views/include_js.html"){}%>
	</body>
</html>