<!DOCTYPE html>
<html>
	<head>
	<%include("/WEB-INF/views/admin/include_head.html"){}%>
    <link href="${ctx}/umeditor1_2_2/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="${ctx}/css/bootstrap-markdown.min.css" type="text/css" rel="stylesheet">
    <link href="${ctx}/css/paraiso.light.css" type="text/css" rel="stylesheet">
	</head>
	
  	<body class="skin-blue sidebar-mini">
    <div class="wrapper">

	<%include("/WEB-INF/views/admin/include_menu.html"){}%>
     

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            New Category
            <small>Create category</small>
		  <span id='result_label' class="form-group has-success">
			  <label class="control-label">${success!}</label>
		  </span>
		  <span id='result_label' class="form-group has-error">
			  <label class="control-label">${error!}</label>
		  </span>
          </h1>
          <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Category</li>
          </ol>
        </section>

        <section class="content">
			<div class="panel-body">
	          <form id="article_form" class="form" method="post" action="${ctx}/admin/postCategory" >
				<input type="hidden" id="draft" name="draft" value="false" />
				<input type="hidden" id="id" name="id" value="${category.id!}"/>
				<div class="form-group">
	    			<label for="name">Name</label>
					<input id="name" name="name" class="form-control" placeholder="Category name" value="${category.name!}" >
				</div>
					
				  <div class="form-group">
				    <label for="captcha">Captcha</label>
				    <span>
					    <input type="text" id="captcha" name="captcha" placeholder="">
				    	<img alt="" src="${ctx}/captcha" onclick="this.src='${ctx}/captcha?'+Math.random()">
				    </span>
				  </div>
					
				<div class="form-group">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			  </form>
			 </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
	  <%include("/WEB-INF/views/admin/include_footer.html"){}%>

    </div><!-- ./wrapper -->
	<%include("/WEB-INF/views/admin/include_js.html"){}%>
	<script type="text/javascript">
	
	$(document).ready(function(){
	    
	});
	
	</script>
  </body>
</html>
