<!DOCTYPE html>
<html>
	<head>
	<%include("/WEB-INF/views/admin/include_head.html"){}%>
	</head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

	<%include("/WEB-INF/views/admin/include_menu.html"){}%>
     

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Comments
            <small>This is your comment list</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Comments</a></li>
            <li class="active">Here</li>
          </ol>
        </section>
          
			<div class="panel-body">
	          <form class="form-inline" method="get" action="${ctx}/admin/comments">
				  <div class="form-group">
				    <label for="aid">Article ID</label>
				    <input type="text" class="form-control" name="aid" placeholder="Article ID" value="${aid!}">
				  </div>
				  <div class="form-group">
				    <label for="keywords">Search</label>
				    <input type="text" class="form-control" name="keywords" placeholder="Keywords" value="${keywords!}">
				  </div>
				  <button type="submit" class="btn btn-default">Search</button>
			  </form>
			 </div>

        <section class="content">
	        <div class="table-responsive">
			  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Message</th>
                        <th>Post time</th>
                        <th>Article id</th>
                        <th>Managae</th>
                      </tr>
                    </thead>
                    <tbody>
					<%
						for(comment in page.list)
						{
					%>
                      <tr>
                        <td>${comment.id!}</td>
                        <td>${comment.username!}</td>
                        <td>${comment.contact!}</td>
                        <td>${comment.message!}</td>
                        <td>${comment.post_time!}</td>
                        <td><a href="${ctx}/article/${comment.article_id}" target="_blank">${comment.article_id}</a> </td>
                        <td>
                        	<a class="btn btn-danger btn-xs" onclick="confirmDelete(${comment.id})">
                        		Delete
							</a>
                        </td>
                      </tr>
					<%
						}
					%>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Message</th>
                        <th>Post time</th>
                        <th>Article id</th>
                        <th>Managae</th>
                      </tr>
                    </tfoot>
			  </table>
			<%
				var fullUrl = ctx+'/admin/comments?page={0}&keywords='+keywords!+'&aid='+aid!;
				include("/WEB-INF/views/include_page.html",{pageUrl:fullUrl}){}
			%>
			</div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      
		<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                Warn
		            </div>
		            <div class="modal-body">
		                This Record can not recover after delete,Are you sure to delete this record?
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		                <a id='confirm-delete-btn-ok' class="btn btn-danger btn-ok">Delete</a>
		            </div>
		        </div>
		    </div>
		</div>

	  <%include("/WEB-INF/views/admin/include_footer.html"){}%>

    </div><!-- ./wrapper -->
	<%include("/WEB-INF/views/admin/include_js.html"){}%>
	<script type="text/javascript">
	
	function confirmDelete(id)
	{
		$('#confirm-delete-btn-ok').attr('href','${ctx}/admin/deleteComment?keywords=${keywords!}&aid=${aid!}&id='+id+"&page="+${page.pageNumber});
		$('#confirm-delete').modal({});
	}
	</script>
  </body>
</html>
