<!DOCTYPE html>
<html>

	<head>
	<%include("/WEB-INF/views/admin/include_head.html"){}%>
	</head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

	<%include("/WEB-INF/views/admin/include_menu.html"){}%>
     

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Dashboard
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <section class="content">
			<div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-text-width"></i>
                  <h3 class="box-title">Thanks to </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <ul>
                    <li><a href="http://jquery.com" target="_blank">JQuery</a></li>
                    <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
                    <li><a href="http://fortawesome.github.io/Font-Awesome" target="_blank">Font Awesome</a></li>
                    <li><a href="https://github.com/almasaeed2010/AdminLTE" target="_blank">AdminLTE</a></li>
                    <li><a href="http://ionicons.com" target="_blank">Ionicons</a></li>
                    <li><a href="http://ueditor.baidu.com/website/index.html" target="_blank">Ueditor</a></li>
                    <li><a href="http://www.codingdrama.com/bootstrap-markdown/" target="_blank">Bootstrap Markdown</a></li>
                    <li><a href="https://github.com/domchristie/to-markdown" target="_blank">to-markdown</a></li>
                    <li><a href="https://github.com/evilstreak/markdown-js" target="_blank">Markdown-js</a></li>
                    <li><a href="https://github.com/chjj/marked" target="_blank">Marked</a></li>
                    <li><a href="https://highlightjs.org/" target="_blank">highlight.js</a></li>
                    <li><a href="https://github.com/sirthias/pegdown" target="_blank">pegdown</a></li>
                    <li><a href="http://www.jfinal.com" target="_blank">JFinal</a></li>
                  </ul>
                </div><!-- /.box-body -->
              </div>
			<div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">About JNote </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                	<pre>
  <a href="http://jnote.itbiu.com" target="_blank">JNote</a> is a free and open source project, source code is on <a href="https://github.com/pianzinan/JNote" target="_blank">https://github.com/pianzinan/JNote</a>, you can use it without any restrictions. 
  
  If the hyperlink in the right-bottom does not affect your use, please keep them.
  
  <a href="http://jnote.itbiu.com" target="_blank">JNote</a> is an open source project by Tony that is licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License 2.0.</a>
                	</pre>
                </div><!-- /.box-body -->
              </div>
			<div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Donate us </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
				  Paypal:
	                <form name="_xclick" action="https://www.paypal.com/cn/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="451144426@qq.com">
						<input type="hidden" name="item_name" value="Team In Training">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="amount" value="5.00">
						<input type="image" src="http://www.paypal.com/zh_CN/i/btn/x-click-butcc-donate.gif" border="0" name="submit" alt="Donate us!">
					</form> 
                </div><!-- /.box-body -->
              </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

	  <%include("/WEB-INF/views/admin/include_footer.html"){}%>

    </div><!-- ./wrapper -->
	<%include("/WEB-INF/views/admin/include_js.html"){}%>
  </body>
</html>
